@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>
<h3>BevDB is a leader in pointless beverage databases.</h3>

<p>Founded in 2016 to help a student complete a course in advanced C#, BevDB has gone on to be a leader in the field of beverage databases that have zero practical uses.</p>
