@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome!</h1>
    <p class="lead">This is a web program designed to allow you to look through a large database of different beverages.</p>
    <p><a href="http://localhost:52352/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>View our Beverage List</h2>
        <p>
            Feel free to browse our extensive collection of both imported and domestic beverages.
        </p>
        @if (Request.IsAuthenticated)
        {
            <p><a class="btn btn-default" href="http://localhost:52352/Beverages">View Beverages &raquo;</a></p>
        }
        else
        {
            <p><a class="btn btn-default" href="http://localhost:52352/Account/Login">Log In &raquo;</a></p>
        }


       
    </div>
    <div class="col-md-4">
        <h2>Add a New Beverage</h2>
        <p>Registered users may add new Beverages to the database.</p>
        @if (Request.IsAuthenticated)
        {
            <p><a class="btn btn-default" href="http://localhost:52352/Beverages/Create">Add Beverage &raquo;</a></p>
        }
        else
        {
            <p><a class="btn btn-default" href="http://localhost:52352/Account/Login">Log In &raquo;</a></p>
        }
        
    </div>    
</div>